<h2><img src="/assets/pizza-day.png" aria-hidden="true"/>Create a pizza day</h2>

<app-loading [display]="_loading"></app-loading>

<form *ngIf="_createPizzaDayForm" [formGroup]="_createPizzaDayForm" (submit)="_createPizzaDay($event)">
  <tabset>

    <tab [heading]="'Info'">

      <fieldset class="form-group">
        <label>Day</label>
        <app-selector [items]="_days" formControlName="day"></app-selector>
      </fieldset>

      <fieldset class="form-group">
        <label>Pizzeria</label>
        <app-selector [items]="_pizzerias" formControlName="pizzeria"></app-selector>
      </fieldset>

      <fieldset class="form-group">
        <label>Owner</label>
        <app-selector [disabled]="!_isAdmin()" [items]="_users" [selected]="_getUserId()"
                     formControlName="owner"></app-selector>
      </fieldset>

      <fieldset class="form-group">
        <label>Participants</label>
        <app-selector [items]="_users" [multi]="true" [selected]="[_getUserId()]"
                     formControlName="participants"></app-selector>
      </fieldset>
    </tab>

    <tab [heading]="'Times'">

      <fieldset class="form-group">
        <label for="reminderTime">
          Reminder time
          <i [tooltip]="_constants.HELP_REMINDER_TIME" [tooltipAnimation]="false"
             class="fa fa-question-circle label-help"></i>
        </label>
        <input formControlName="reminderTime" id="reminderTime" type="time" class="form-control"
               step="60"/>
      </fieldset>

      <fieldset class="form-group">
        <label for="orderTime">
          Order time
          <i [tooltip]="_constants.HELP_ORDER_TIME" [tooltipAnimation]="false"
             class="fa fa-question-circle label-help"></i>
        </label>
        <input formControlName="orderTime" id="orderTime" type="time" class="form-control"
               step="60"/>
      </fieldset>

      <fieldset class="form-group">
        <label for="purchaseTime">
          Purchase time
          <i [tooltip]="_constants.HELP_PURCHASE_TIME" [tooltipAnimation]="false"
             class="fa fa-question-circle label-help"></i>
        </label>
        <input formControlName="purchaseTime" id="purchaseTime" type="time" class="form-control"
               step="60"/>
      </fieldset>

      <fieldset class="form-group">
        <label for="mealTime">
          Meal time
          <i [tooltip]="_constants.HELP_MEAL_TIME" [tooltipAnimation]="false"
             class="fa fa-question-circle label-help"></i>
        </label>
        <input formControlName="mealTime" id="mealTime" type="time" class="form-control"
               step="60"/>
      </fieldset>
    </tab>
  </tabset>

  <button type="submit" [disabled]="!_createPizzaDayForm.valid || !_submitEnabled"
          class="btn btn-lg btn-primary btn-block">Create
  </button>
</form>

<app-alerts></app-alerts>
